NODE_ENV=development
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>
JWT_SECRET=<use-a-long-random-secret>
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:8080,https://spa-websiite-freelance.vercel.app
MAX_IMAGE_SIZE_MB=5
CLOUDINARY_CLOUD_NAME=dde1klje8
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
